<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form name="formlogin" action="" method="post" id="login">
            <div class="row">
                <label class="col-md-4" style="text-align:right"> Name of Role </label>
                <div class="col-md-4">
                    <input type="text" name="name" class="form-control" id="control" required
                        placeholder="Enter the Role">
                </div>
            </div>
            <br>
            <div class="row">
                <label class="col-md-4" style="text-align:right"> Name of Company </label>
                <div class="col-md-4">
                    <select class="selectpicker" data-style="btn-light" name="company" required>
                        <option>Boring Bots</option>
                        <option>Cine Tokens</option>
                        <option>Finish Factory</option>
                        <option>FreshNGood</option>
                        <option>Project Mate</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="col-md-4" style="text-align:right"> Type of Role </label>
                <div class="col-md-4">
                    <input type="text" name="role" class="form-control" id="control" required
                        placeholder="Internship/FullTime" />
                </div>
            </div>
            <br>
            <div class="row">
                <label class="col-md-4" style="text-align:right"> Description </label>
                <div class="col-md-4">
                    <textarea name="desc" id="" cols="45" rows="10" required></textarea>
                </div>
            </div>
            <br>

            <div class="col-md-12">
                <p align="center">
                    <button type="submit">Confirm Changes</button>
                </p>
            </div>
        </form>
    </div>

</body>

</html>