<form action="" method="post">
    <label for="">Enter Username :</label>
    <input type="text" name="username" placeholder="Username"> <br>
    <label for="">Enter Password :</label>
    <input type="password" name="password" placeholder="Password"> <br>
    <button type="submit">Submit</button>
</form>