<form action="" method="post">
    <input type="text" name="username" placeholder="Username">
    {{!-- <input type="email" name="email" placeholder="Put Emailid"> --}}
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>